@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto {
  font-family: "Roboto", sans-serif;
} */

.fontgeist {
  font-family: "Geist", sans-serif;

  font-weight: 400;

  color: rgb(102, 102, 102);
}

;

/* Remove scrol horizontal */
html,
body,
#root {
  overflow-x: hidden !important;
}

;

.menuhome {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  color: yellow;
}

@keyframes shooting {
  0% {
    transform: translateX(0) translateY(0) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateX(200px) translateY(200px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes zoom {
  from {
    transform: scale(0.85);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-fade {
  animation: fade 0.25s ease-out;
}

.animate-zoom {
  animation: zoom 0.25s ease-out;
}


@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.25s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}


html,
body {
  overflow-x: hidden !important;
  width: 100% !important;
}


@keyframes spinInsano {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1.15);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}