@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto {
  font-family: "Roboto", sans-serif;
} */

.fontgeist {
  font-family: "Geist", sans-serif;

  font-weight: 400  ;

  color: rgb(102, 102, 102);
};

/* Remove scrol horizontal */
html, body, #root{
    overflow-x: hidden !important;
};

.menuhome {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0,0,0,0)); 
  color: yellow;
}

@keyframes shooting {
  0% { transform: translateX(0) translateY(0) rotate(45deg); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translateX(200px) translateY(200px) rotate(45deg); opacity: 0; }
}


